body {
    background-color: aquamarine;}
#thirdDiv {
    background-color: cadetblue; padding: 50px; height: 600px; width: 500px; border-style: solid 10px;}
#spanId {font-style: 18px;margin-top: 50px 50px 50px 50px;}
